@import '~bootstrap/scss/bootstrap.scss';
@import 'base';
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open sans', sans-serif;
  font-size:11pt;
  background:#fff;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.content-wrapper {
  min-height:100vh;
}

.delete-button {
  border: none;
  background: none;
}

.loader {
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
  position: fixed;
  width:100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background:rgba(0, 0, 0, 0.66);
  .spinner {
    margin: auto;
    margin-top: calc(50vh - 25px);
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    margin:1px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.login-form-container {
  margin-top: calc(50vh - 115px);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}