.avatar
{
    background: #fff;
    display:inline-block;
    position:relative;
}

.avatar-cover
{
    background-position:center center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    //display:block;
}

.avatar-border
{
    border:1px solid $gray;
}

.avatar-pd
{
  padding:3px;

}

.avatar-xs
{
  $diameter:35px;
  width:$diameter;
  height:$diameter;
  border-radius:($diameter/2);
}

.avatar-xs-bg
{
    $diameter:35px + 6px;
    border-radius:50%;
}


.avatar-sm
{
  $diameter:55px;
  width:$diameter;
  height:$diameter;
  border-radius:($diameter/2);
}

.avatar-sm-bg
{
    $diameter:55px + 6px;
    border-radius:50%;
}

.avatar-md
{
  $diameter:90px;
  width:$diameter;
  height:$diameter;
  border-radius:($diameter/2);
}

.avatar-md-bg
{
    $diameter:90px + 6px;
    border-radius:50%;

}

.avatar-lg
{
  $diameter:150px;
  width:$diameter;
  height:$diameter;
  border-radius:($diameter/2);
}

.avatar-xl
{
  $diameter:250px;
  width:$diameter;
  height:$diameter;
  border-radius:($diameter/2);
}

.avatar-shadow
{
    box-shadow: -3px 3px 7px 3px rgba(130, 130, 130, 0.56);
}

.avatar-initial
{
    color:$gray-dark;
    font-weight:100;
    font-size:22pt;
}

