.card {
	border: 2px solid $gray-light;

	.filterables {
		padding: 15px 24px;
		background: $gray-light;
		.date-picker {
			display:inline-block;
			margin-right: 24px;
		}

		$filter-gray: #bdc5ca;
		
		input[type="text"] {
			margin-right: 24px;
			border-radius: 0px;
			background: transparent;
			border: none;
			height: 35px;
			padding-left: 0px;
			border-bottom: 2px solid $filter-gray;
			min-width:200px;

			&::-webkit-input-placeholder {
				color: $filter-gray;
				font-style: italic;
			}
		}

		button {
			background: $blue;
			color: #ffffff;
			border: 2px solid $blue;
			border-radius: 3px;
			margin-bottom: 0px;
		}
	}
}

.card-block {
	flex: 1 1 auto;
  padding: 2rem;
}