
body {
  // background:#fff;
  background:$gray-lighter;
	font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  color: $black;
}

.content-wrapper {
  background:$gray-lighter;
  padding-bottom: 30px;
  margin-top: 53px;
}


@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.no-border
{
    border:0px !important;
}

.no-padding
{
    padding:0px !important;
}


.box-shadow {
    box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.45);
}

hr
{
    border-color:$gray-dark;
}

.input-alert {
	position: absolute;
	margin-top: -22px;
	font-size: 10px;
	padding: 0px;

	&.error {
		color: $danger;
	}

	&.warning {
		color: $warning;
	}
}