.modal {
  padding: 20px !important;

  &.show {
    display: block;
  }
  
    
  .modal-content {
    border:none;

    .close {
      font-size: 10pt;
      position: absolute;
      right: 10px;
      left: 10px;
    }
    
    h1, h2, h3 {
      margin: 0px;
    }

    .modal-header {
      border-bottom: 0px;
      margin-bottom: 20px;
    }
    
    .modal-body {
      position: relative;
      min-height: 300px;
      
      h5 {
        font-size: 15pt;
      }
    }
    
    .modal-body 
    .modal-footer {
      border-top: 0px;
    }
  }

}






.modal-backdrop {
  background:rgba(103, 109, 118, 0.6);
  opacity: 1 !important;
}
.modal-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.modal-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.modal-content .close {
  opacity: 1;
  text-shadow: none;
  color: #989898;
  font-weight: 100;
  font-family: $open-sans;
}
.modal-title {
  color: $gray;
  font-size: 18pt;
  text-align:center
}
@media all and (max-width: 767px) {
  .modal-dialog {
    margin: 0px;
    width: 100%;
  }
  .modal-content {
    width: 90%;
    background: #fff;
  }
}
